  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, {:cols => 120, :rows => 80 }  %>
  </div>
  <div class="field">
    <%= f.label :visibility %><br />
    <%= f.text_field :visibility %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
