<div class="row">
  <div class="span4">
    
    <div class="row">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    
    <div class="row">
      <%= f.label :visibility %><br />
      <%= f.text_field :visibility %>
    </div>
 
    <div class="row">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>

  </div>
  <div class="span8">
    <%= f.label :text %><br />
    <%= f.text_area :text, :class => "input-xxlarge", :rows => "50" %>
  </div>
</div>


<div class="row">
  <div class="span11">
    <div class="pagination pagination-right">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>